
#Experience {
  width:100%;
  height:100vh;
  background-color:black;
  color: #000;
  
}
#Experience .heading {
border: 1px solid black;
font-size: 3rem;
color: red;
padding: 1rem 0 0 4rem;
}
#Experience .section-container {
  /* border: 1px solid black; */
  position: absolute;
  top: 15vh;
  left: 5%;
  width: 90%;
  height: 83vh;
  display: flex;
  flex-wrap: wrap;
}
section {
  /* border: 1px solid black; */
  margin: 0  1rem  2rem 1rem;
  padding-bottom: 5rem;
  /* width:650px ; */
  width: 46%;
  height: 210px;
  /* line-height: 1.7; */
  perspective: 800px;
 
}
#Experience .section-container section:last-child {
  /* border: 1px solid black; */
  width: 46%;
  margin:0 auto;
  height: 180px;
}
.tag {
width: 100%;
height: 100%;
position: absolute;
transform: translate3d(0, 0, 0);
transform-style: preserve-3d;
transition: transform 1s;
}
.tag-container:hover .tag {
  transform: rotateY(180deg);
}
.tag-side {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  display: flex;
  align-items: stretch;
}

.tag-side.is-back {
  transform: rotateY(180deg);
  z-index: 2;
}
.tag-text {
width: 100%;
color: #222;
font-family:'Sacramento', cursive;
}
/* .tag-1-side.is-back:before {
background: #e44f47;
} */

.tag-1-text {
background: #ede5d8;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
position: relative;
z-index: 1;
transform: translate3d(0, 0, 0);
}

/* .tag-1-side.is-back .tag-1-text {
background: #e44f47;
color: #000;
} */
.front-side {
  padding-top: 3rem;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1;
}
.back-side {
  font-size: 1.2rem;

}
.marg-bottom {
  margin-bottom: -1.4rem;
}