*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
.App {
  width: screen;
  height: 100vh;
}
@media (max-width:600px) {
  .App {
    width: screen;
    height: 100vh;
    background-color: #000;
  }
}